body {
    font-family: Arial, sans-serif;
    /* background-color: #8ce0eb; */
    background-color: #ffffff;

}

.message {
    padding: 0.625em;
    border-radius: 1em;
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
    color: #000000;
    /* background-color: #c1e3fa; */
    background-color: #e8fdfb;
  }

#chat-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: 20px auto; */
    background: #b1f2ec;
    /* background: #d0f9fc; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 50%;
    
}

#message-container {
    font-size: small;
    /* height: 300px; */
    height: 80%;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

#user-controls {
    display: flex;
    gap: 10px;
}

#admin-controls {
    /* margin-top: 20px; */
    position: absolute;
    top: 20%;
    left: 70%;
    /* width: fit-content; */

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    padding: 10px;
    background-color: rgb(195, 226, 253);
    /* transform: translate(-50%, -50%); */
}

#moderator-controls {
    /* margin-top: 20px; */
    position: absolute;
    top: 20%;
    left: 70%;
    /* width: fit-content; */

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    padding: 10px;
    background-color: rgb(174, 252, 179);
    /* transform: translate(-50%, -50%); */
}